@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --aside-width: 400px;
    --cart-aside-summary-height-with-discount: 300px;
    --cart-aside-summary-height: 250px;
    --grid-item-width: 355px;
    --header-height: 64px;
    --color-dark: #000;
    --color-light: #fff;
    --color-button: #000;
    --color-button-text: #fff;
  }
  

.cart-count-bubble {
    position: absolute;
    background-color: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    bottom: .8rem;
    left: 2.2rem;
    /* line-height: calc(1 + .1 / var(--font-body-scale)); */
  }

  .header {
    align-items: center;
    background: #fff;
    display: flex;
    height: var(--header-height);
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
  }