
body {
    font-family: "Jomolhari", sans-serif;
}

header {
    position: sticky;
    z-index: 100;
}

.overlay {
    position: absolute;
    top: 0;
    z-index: 200;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    width: 100%;
    /* background-color: rebeccapurple; */
    /* height: 0px; */
}

.overlay-open {
    transform: translateY(0%);
}

.overlay aside {
    background-color: darkslateblue;
}

.close-outside {
    background-color: #d0d0d0;
    height: 100vh;
    width: 100%;
    opacity: 50%;
}